*{
    padding: 0;
    margin: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    transition: 0.5s;
    background-color: #99ccff;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #3333cc;
    color: #ffffff;
    z-index: 100;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ffffff;
    padding: 1.5rem;
}

.navbar-container{
    margin-bottom: 3rem;
}

.list{
    padding-left: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.list ul{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.list a{
    margin-top: 1rem;
    margin-left: 1rem;
    color: #ffffff;
}

.list .list_name{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list img{
    width: 15px;
    height: 15px;
}

.banner{
    flex: 1;
    height: 120px;
    margin-left: 200px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.banner_top{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px #dedede;
}

.banner_top .top_right{
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner_top img{
    width: 20px;
    height: 20px;
}

。banner_bottom{
    padding-left: 1rem;
}

.banner_bottom .bottom_lists{
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
    font-size: smaller;
    color: #dedede;
}

.content{
    width: 1180px;
    height: 650px;
    margin: 1.5rem 1rem 0 230px;
    background-color: #fff;
}

.content_banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1.3px #cecdcd;
}

.operation{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.operation button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #dedede;
}

.operation button:nth-child(1){
    background-color: pink;
}

.operation button:nth-child(2){
    background-color: #3333cc;
    color: #fff;
}

.operation button:nth-child(3){
    background-color: #ff0000;
    color: #fff;
}

.content_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_title{
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_title .class div{
    width: 200px;
    height: 25px;
    background-color: pink;
}

.class,
.class_people{
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class_people{
    width: 290px;
}

.class_people input{
    width: 200px;
    height: 25px;
}

.content_title button{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #dedede;
}

.content_title .btn_find{
    color: #fff;
    background-color: #3333cc;
}

.content_title .btn_reset{
    background-color: #fff;
}

.content_table{
    width: 70%;
}

.content_table,.table{
    width: 100%;
}

.table th{
    width: 20%;
    height: 30px;
    /*border: solid 1px red;*/
}

.table td{
    text-align: center;
    height: 70px;
    padding-top: 20px;
    border-bottom: solid 1px #dedede;
}

.content_page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.content_page .num{
    display: flex;
    justify-content: center;
    /*border: solid 1px red;*/
}
.content_page .num ul{
    width: 140px;
    display: flex;
    justify-content: space-around;
}

.content_page .num ul li{
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
}

.content_page .num ul li:nth-child(1){
    color: #fff;
    margin-left:5px ;
    background-color: #4487ed;
}

.content_page .num span{
    color: #b7b6b6;
}

.content_page .rotate{
    width: 80%;
    display: flex;
    margin-left: 1rem;
    /*border: solid 1px red;*/
}

.content_page .rotate div{
    margin-right: 10px;
    border: solid 1px #dedede;
    border-radius: 4px;
    padding: 0 3px;
    color: #b9b9b9;
}

.content_page .rotate input{
    width: 25px;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    border: solid 1px #dedede;
    border-radius: 3px;
}


